# Variables
## to store something in a programming language we use varabies

In [22]:
3+3

6

In [23]:
#integer
a=12
b=10
print(a)
print(type(a))

12
<class 'int'>

In [24]:
id(a)

140705845603096

In [25]:
a=12
b=12
c=12.0
print(a)
print(b)
print(c)
print(id(a))
print(id(b))
print(id(c))
print(type(a))
print(type(b))
print(type(c))

12
12
12.0
140705845603096
140705845603096
1774850013328
<class 'int'>
<class 'int'>
<class 'float'>

# Hello
## hello
### hello
#### hello
##### hello

- hello

# comments and multiline comments in python

In [26]:
#this is the single line comment.

# this is the ultimate datascience batch v2.0
# in this class we are learning python variables
# this is the ultimate datascience batch v2.0
# in this class we are learning python variables
# this is the ultimate datascience batch v2.0
# in this class we are learning python variables
# this is the ultimate datascience batch v2.0
# in this class we are learning python variables

In [1]:
#multiline comment
# below is multi line comment or also used as doc string
"""
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
"""
#or 
'''
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
this is the ultimate datascience batch v2.0
in this class we are learning python variables
'''

'\nthis is the ultimate datascience batch v2.0\nin this class we are learning python variables\nthis is the ultimate datascience batch v2.0\nin this class we are learning python variables\nthis is the ultimate datascience batch v2.0\nin this class we are learning python variables\nthis is the ultimate datascience batch v2.0\nin this class we are learning python variables\n'

# Address of variable

In [2]:
a=12
print(id(a)) #address of a
a=10
print(id(a)) #address of a

140705798286104
140705798286040

# Data types

In [29]:
a = 10
print(type(a))

<class 'int'>

In [30]:
a="Data Science"
print(type(a))

<class 'str'>

In [31]:
c="d"
type(c)

str

# Naming conventions
- variable names can only contain letters, digits and underscore(_)
    - bmi,person0,person_1,person 1(not valid),person#(not valid),_person
- it should not start with a digit
- variable names are case senitive : hello,Hello,heLlo 
- avoid using python keywords: type,print,id,for,if else,

#

# Flow of python
- in python, execution happens from top to bottm and right to left
- in case parathensis ,from inner brackets to outer

In [3]:
mentor_name="monal" #1
print(mentor_name)#2
value_1=100#3
print(500)#4
value_2=200 #5
print(value_1)#6

monal
500
100

#

# Few more data types

In [4]:
#boolean or bool
#it only store TRUE or FALSE
a = True
b = False
print(a)
print(b)
#a=TRUE #not valid
#b=FALSE #not valid
#a=true #not valid
#b=false #not valid
#Question to audience: how many can see my screen visible ? its there true or false
print(type(a))

True
False
<class 'bool'>

# Type casting
if we have int and we ant to make it float, we use type casting

In [5]:
a =1
print(bool(a))

True

In [6]:
#int to float
float(a) #type casted from int to float

1.0

In [36]:
print("monal")

monal

In [37]:
pi=3.14
pi_int=int(pi)
print(pi_int)
print(type(pi))

3
<class 'float'>

In [38]:
bool_1=False
bool_int=int(bool_1)
print(bool_int)
print(type(bool_1))

0
<class 'bool'>

# Operator -1 
Special symbols : -,+,*,/ ...etc
Operator are used to perform opreations on value and varibables
There are different types of operators
- arthematic operators : +,-,*,/,%
- Relations operators : <,>,<=,>=,==
- Assignment operator : = ,~=,-=,
- logical operator : AND,OR,NOT
- bitwise : &,|,^,~,<<,>>

# arthematic operator

In [39]:
2*2

4

In [40]:
a=2
b=2
c=a+b
print(c)

4

In [41]:
#2+"data science"
2* "data science,"

'data science,data science,'

In [42]:
#ignore the cod
for i in range(1,20):
    print(i)
    if i==10:
        print("="*10)

1
2
3
4
5
6
7
8
9
10
==========
11
12
13
14
15
16
17
18
19

In [43]:
2+ 2.0

4.0

In [20]:
#modulus operator 
11%2

1

In [44]:
11/2 /#division operator - normal division

5.5

In [45]:
11//2 #floor division - remove the decimal part

5

In [ ]:
#summary
#tools with uv,vscode,terminal
# python --> storage-->variables + comments+operators -->data types -->type casting --> .ipynb(notebook),kernels
# code (flow of executions)
# python experiments
# comments(#,""")
#uv,python script .py
##uv+python --> uv run python code.py
##activate env --> uv venu level-1-venu ,
##for activaate level_1_venu\Scripts\activate for python python code.py
# run.py file

In [ ]:
#Assignment1
#data_science--> day_1-->day_1.tx
#            --> day_2-->lectures--> day_2.ipynb
#            --> Notes -->notes.txt

In [48]:
#assignment -2
## revise all the code and concept
## do type casting from all combinations & understand which are comptiable