In [ ]:
##2026021 - class
#=================
#agenda
#input
#output
#control flow(advance)
#loop

In [2]:
print() # used to display information on the console

# output

In [3]:
print("hello")

hello

In [7]:
var = print("hello")
var="hello"

hello

In [15]:
print("hello_world")
print("Hello world")

hello_world
Hello world

In [13]:
print(var,"world","space")# the space is printed for the visual purpose.
print("hello world")
print("hello world",sep="--")

hello world space
hello world
hello world

In [27]:
#end --> what to print at the very end
print("hello_world",end="..") #it prints and remove "\n" and adds ".."
print("hello_world")

hello_world..hello_world

In [38]:
#sep --> separators , separator betwen mutliple values
print(var,"world","space",sep=",")
print(var,"world","space",sep="123")
print(var,"world","space",sep="\n") #escape characters
print(var,"world","space",sep="\n\n\n") #escape characters

hello,world,space
hello123world123space
hello
world
space
hello


world


space
hello	world	space
hello'world'space
hello"world"space
hellworlspace
space
hello\world\space

In [45]:

print(var,"world","space",sep="\t")
print(var,"world","space",sep="\'")
print(var,"world","space",sep="\"")
print(var,"world","space",sep="\b")
print(var,"world","space",sep="\r")
print(var,"world","space",sep="\r") #carriage returnMoves the cursor to the start of the current row.
print(var,"world","space",sep="\\")
print(var,"world","space",sep="\r\n")
print(var,"world","space",sep="\rHi") #

hello	world	space
hello'world'space
hello"world"space
hellworlspace
space
space
hello\world\space
hello
world
space
Hi	space

# input

In [50]:
name=input("Enter your name: ")
password="1234234234"

In [49]:
print(name)

# control flow(advance)

In [53]:
#problem statement
#we will ask used, th eamouth they want to withdraw from the bank
# if amout is smaller than balance we will say sufficent funds
# else, infsufficent funds
balance =1000
request= int(input("Enter the amout to withdraw: "))
if request < balance:
    print("sufficient funds")
else:
    print("insufficient funds")

insufficient funds

In [66]:
#nested if else
#problem statement : based on user role, we want to to give them access to the google sheet.
#adding condition : only if user is authenticated we will check their access

#admin : delete, edit ,view
#editor: edit,view
#viewer: view

is_user_authenticated = True
print("User is authenticated")
if is_user_authenticated:
    user_role = input("Enter your role (admin/editor/viewer):")

    if user_role=="admin":
        print("full access granted: delete, edit,view")
    elif user_role=="editor":
        print("Limited access: Edit, View")
    elif user_role=="viewer":
        print("restricted access: view only")
    else:
        print("Enter the valid role")
else:
    print("Please login first.")

User is authenticated
Enter the valid role

# Loops

In [69]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [38]:
c =[1,2,3,4,5,6]
for i in c:
    print(i)

1
2
3
4
5
6

In [ ]:
print("2 ","x ","1 ","= ","2")

2  x  1  =  2

In [41]:
table_of=2
start_with=[1,2,3,4,5,6,7,8,9,10]

for i in start_with:
    #print(table_of," x ",start_with," = ",table_of * start_with)
    print(table_of,"x",i,"=",table_of * i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [62]:
table_of=2
#start_with=1

for i in range(1,11):
    #print(table_of," x ",start_with," = ",table_of * start_with)
    print(table_of," x ",i,"=",table_of * i)

2  x  1 = 2
2  x  2 = 4
2  x  3 = 6
2  x  4 = 8
2  x  5 = 10
2  x  6 = 12
2  x  7 = 14
2  x  8 = 16
2  x  9 = 18
2  x  10 = 20

In [61]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in "data science": #string is a iterable.
    print(i,end="  ")

d  a  t  a     s  c  i  e  n  c  e

In [63]:
# if wednesday send a email for booster_class
# else : do  not send email
day_of_week=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

for day in day_of_week:
    if day=="wednesday":
        print("send an email for booster_class")

send an email for booster_class