# String operations

In [109]:
print(type(1))
print(type("data"))

<class 'int'>
<class 'str'>

In [110]:
"   Data Science        ".strip()

'Data Science'

In [111]:
1.strip()  #its not the properties of string.

SyntaxError: invalid decimal literal (1286178887.py, line 1)

In [ ]:
a=2
id(a)

140705939057112

In [ ]:
a.id() # id is not property of integer

In [ ]:
name = "Monal S  "
name=name.strip() #it removes the spaces from right and left side of the string
print(name)

Monal S

In [ ]:
#lstrip() - to remove white spaces from the string method
name = "  Monal S  "
print(len(name))
print(name.rstrip())
print(len(name.lstrip()))
print(name.lstrip())
print(len(name.lstrip()))
print(name.strip())
print(len(name.strip()))

11
  Monal S
9
Monal S
9
Monal S
7

In [ ]:
#problem remove the space from the both side of the data without using the strip()
name = name.lstrip()
name= name.rstrip()
print(name)
print(len(name))

Monal S
7

In [ ]:
#problem remove the space from the both side of the data without using the strip() other way
name= name.rstrip().rstrip()
print(name)
print(len(name))

Monal S
7

# operator
## Relational operator

In [25]:
a=100
b=200

In [29]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [28]:
a="Data"
b="Data "
print(a==b)

False

In [35]:
"Data" >= "Data" #for string
id=123
password ="hellow world"

In [37]:
age_threshold=18
person_1_age=18
print(person_1_age >= age_threshold)

True

# Assignment operator

In [68]:
a=1
print(a)

1

In [69]:
a+=1
print(a)

2

In [70]:
a-=1
print(a)

1

In [72]:
a*=2
print(a)

2

In [73]:
a/=2
print(a)

1.0

In [74]:
a//=2
print(a)

0.0

In [81]:
print(10/2)
print(10//2)

5.0
5

# logical operator

In [ ]:

bool_a=True
bool_b=False
bool_a and bool_b

True

In [85]:
bool_a or bool_b

True

In [86]:
not bool_a

False

In [88]:
not bool_b

True

In [ ]:
#cluf all entry conditions
#- person should be over 19
#-person should have atleast 500 INR in local currency to enter club

person_age=20
person_threshold=18

min_balance = 500
person_balance =600

(person_age >= person_threshold) and (person_balance >= min_balance)

True

### bitwise operator

In [96]:
a=3
b=1
print(a & b)

1

In [97]:
print(a | b) #bitwise OR

3

In [98]:
print(a^b)

2

In [104]:
a=30
print(bin(a))
print(hex(a))
print(oct(a))

0b11110
0x1e
0o36

#### Conditional statement or control flow(its a generic concept)

In [1]:
# we want to give accss to batch 1 recording to people who buy batch 2
current_batch = 3
if current_batch==2:
    print("Access to UDS batch 1.0 also provided")
else:
    print("you only have access to UDS batch 1.0")

you only have access to UDS batch 1.0

# if-elif-else

In [2]:
operation_name="add"
#control flow start
if operation_name =="add":
    print("perform addition")
elif operation_name=="substract":
    print("Perform substraction")
elif operation_name=="divid":
    print("Perform division")
else:
    print("No selected operation name found")
#control flow end

perform addition

In [ ]:
age=19
batch = 2.0
session_number = 4

#control flow start
if age > 19:
    print("19")
#control flow end

#control flow start
if batch > 1.0:
    print("give access to v1.0")
#control flow end

#control flow start
if session_number>1:
    print("inducion class ended")
#control flow end

give access to v1.0
inducion class ended

In [ ]:

print(19>19)

# More data types

In [2]:
id_people = [100,101,102,104,105,106]

In [3]:
id_people

[100, 101, 102, 104, 105, 106]

In [15]:
people= [101,100,102,"A","b",37.4,True]

In [16]:
print(people)
print(type(people))

[101, 100, 102, 'A', 'b', 37.4, True]
<class 'list'>

In [17]:
people.append("data science")

In [18]:
print(people)

[101, 100, 102, 'A', 'b', 37.4, True, 'data science']

In [37]:
register = []
print(type(register))
#name=""
#print(name)
#print(type(name))

<class 'list'>

In [38]:
register.append(["monal",101,"+91123445677","visit"])

In [ ]:
#a =["monal",101,"+91123445677","visit"]
#register.append(a)

In [41]:
print(register)

[['monal', 101, '+91123445677', 'visit'], ['pradeep', 103, '+91123695', 'visit1']]

In [40]:
register.append(["pradeep",103,"+91123695","visit1"])

In [45]:
#experiements
dummy=[]

In [54]:
print(dummy)

[0, 0, 'hello', 'hello', [1, 1, 2, 3, 4, 'hello', 'monal', 101]]

In [53]:
dummy.append([1,1,2,3,4,"hello","monal",101])

In [56]:
#fucntion
len(dummy)

5